In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('medical_mimic.csv')

In [3]:
df.head()

,group,ID,outcome,age,gendera,BMI,hypertensive,atrialfibrillation,CHD with no MI,diabetes,...,Blood calcium,Chloride,Anion gap,Magnesium ion,PH,Bicarbonate,Lactic acid,PCO2,EF,static
0,1,125047,0.0,72,1,37.588179,0,0,0,1,...,7.463636,109.166667,13.166667,2.618182,7.230,21.166667,0.5,40.0,55,1
1,1,139812,0.0,75,2,NaN,0,0,0,0,...,8.162500,98.444444,11.444444,1.887500,7.225,33.444444,0.5,78.0,55,1
2,1,109787,0.0,83,2,26.572634,0,0,0,0,...,8.266667,105.857143,10.000000,2.157143,7.268,30.571429,0.5,71.5,35,1
3,1,130587,0.0,43,2,83.264629,0,0,0,0,...,9.476923,92.071429,12.357143,1.942857,7.370,38.571429,0.6,75.0,55,1
4,1,138290,0.0,75,2,31.824842,1,0,0,0,...,8.733333,104.500000,15.166667,1.650000,7.250,22.000000,0.6,50.0,55,1

In [4]:
# unique values of column

df.columns

Index(['group', 'ID', 'outcome', 'age', 'gendera', 'BMI', 'hypertensive',
       'atrialfibrillation', 'CHD with no MI', 'diabetes', 'deficiencyanemias',
       'depression', 'Hyperlipemia', 'Renal failure', 'COPD', 'heart rate',
       'Systolic blood pressure', 'Diastolic blood pressure',
       'Respiratory rate', 'temperature', 'SP O2', 'Urine output',
       'hematocrit', 'RBC', 'MCH', 'MCHC', 'MCV', 'RDW', 'Leucocyte',
       'Platelets', 'Neutrophils', 'Basophils', 'Lymphocyte', 'PT', 'INR',
       'NT-proBNP', 'Creatine kinase', 'Creatinine', 'Urea nitrogen',
       'glucose', 'Blood potassium', 'Blood sodium', 'Blood calcium',
       'Chloride', 'Anion gap', 'Magnesium ion', 'PH', 'Bicarbonate',
       'Lactic acid', 'PCO2', 'EF', 'static'],
      dtype='object')

In [5]:
for column in df.columns:
    uniq_counts = len(df[column].unique())
    print(column,'=>',uniq_counts)
    
    # Drop column if unique value count is 1     
    if uniq_counts == 1:
        print('Dropping ',column)
        df = df.drop(columns=[column])

group => 2
ID => 1177
outcome => 3
age => 68
gendera => 2
BMI => 934
hypertensive => 2
atrialfibrillation => 2
CHD with no MI => 2
diabetes => 2
deficiencyanemias => 2
depression => 2
Hyperlipemia => 2
Renal failure => 2
COPD => 2
heart rate => 1095
Systolic blood pressure => 1103
Diastolic blood pressure => 1078
Respiratory rate => 1005
temperature => 776
SP O2 => 867
Urine output => 811
hematocrit => 1056
RBC => 1045
MCH => 926
MCHC => 803
MCV => 601
RDW => 836
Leucocyte => 983
Platelets => 1085
Neutrophils => 636
Basophils => 74
Lymphocyte => 542
PT => 784
INR => 426
NT-proBNP => 1147
Creatine kinase => 692
Creatinine => 729
Urea nitrogen => 925
glucose => 803
Blood potassium => 645
Blood sodium => 600
Blood calcium => 588
Chloride => 675
Anion gap => 486
Magnesium ion => 447
PH => 414
Bicarbonate => 657
Lactic acid => 302
PCO2 => 465
EF => 14
static => 1
Dropping  static

In [6]:
df.columns

Index(['group', 'ID', 'outcome', 'age', 'gendera', 'BMI', 'hypertensive',
       'atrialfibrillation', 'CHD with no MI', 'diabetes', 'deficiencyanemias',
       'depression', 'Hyperlipemia', 'Renal failure', 'COPD', 'heart rate',
       'Systolic blood pressure', 'Diastolic blood pressure',
       'Respiratory rate', 'temperature', 'SP O2', 'Urine output',
       'hematocrit', 'RBC', 'MCH', 'MCHC', 'MCV', 'RDW', 'Leucocyte',
       'Platelets', 'Neutrophils', 'Basophils', 'Lymphocyte', 'PT', 'INR',
       'NT-proBNP', 'Creatine kinase', 'Creatinine', 'Urea nitrogen',
       'glucose', 'Blood potassium', 'Blood sodium', 'Blood calcium',
       'Chloride', 'Anion gap', 'Magnesium ion', 'PH', 'Bicarbonate',
       'Lactic acid', 'PCO2', 'EF'],
      dtype='object')

In [7]:
# after dropping 'static', shape is now
df.shape

(1177, 51)